<!-- Navbar Start -->
<nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-2">
    <a href="/" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <form class="d-none d-md-flex ms-4">
        <input id="searchBar" class="form-control bg-dark border-0" type="search" placeholder="Search" />
    </form>
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="notification-link">
                <i class="fa fa-bell me-lg-2" id="notification-bell"></i>
                <div class="end bottom" id="notification-badge"></div>
                <span class="d-none d-lg-inline-flex">Notificaciones</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0"
                id="notification-menu">
                <div id="notification-content">
                    <!-- Notificaciones serán añadidas aquí dinámicamente -->
                </div>
            </div>
        </div>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img class="rounded-circle me-lg-2" src="/user.jpg" alt="" style="width: 40px; height: 40px" />
                <span class="d-none d-lg-inline-flex" id="usernavtop">adm</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                <a href="/Secretaria/perfil" class="dropdown-item">Mi Perfil</a>
                <!-- <a href="#" class="dropdown-item">Configuraciones</a> -->
                <a href="#" class="dropdown-item" id="logout-session">Cerrar Sesion</a>
            </div>
        </div>
        
    </div>
</nav>
<!-- Navbar End -->