<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <%- include('partials/links/links') %>
  </head>

  <body>
    <div class="container-fluid position-relative d-flex p-0 bg-white-gris">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sign In Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-7 col-xl-7 d-flex flex-column">
                    <div class="row flex-grow-1 ">
                        <div class="col-md-6 p-0"> <!-- Aquí añadí la clase p-0 -->
                            <!-- Aquí va tu imagen -->
                            <img src="/filippo-andolfatto-it2Ru3b0hhY-unsplash (1).jpg" style="width: 95px;" class="img-fluid w-100 h-100" alt="Imagen de fondo">
                        </div>
                        <div class="col-md-6 p-0"> <!-- Aquí añadí la clase p-0 -->
                            <form class="bg-white p-4 p-sm-4 w-100 h-100" id="login-form">
                                <div class="d-flex align-items-center justify-content-between mb-5">
                                    
                                    <h3 class="text-dark"><i class="fa fa-user-edit me-2"></i>ADB THE BEST COMPANNY</h3>
                                    
                                    <!-- <h3 class="text-dark">Ingreso</h3> -->
                                </div>
                                <div class="form-floating mb-4"> <!-- Añadí la clase mb-4 aquí para crear un espacio -->
                                    <input type="text" class="form-control" id="username" placeholder="Usuario">
                                    <label for="floatingInput p-4">Usuario</label>
                                </div>
                                <div class="form-floating mb-5"> <!-- Añadí la clase mb-4 aquí para crear un espacio -->
                                    <input type="password" class="form-control" id="password" placeholder="Password">
                                    <label for="floatingPassword">Password</label>
                                </div>
                                <div class="d-flex row justify-content-center">
                                    <button type="submit" class="btn btn-primary py-2 w-30 mb-3 col-5 text-white">Iniciar sesión</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class=" position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center" id="change-password-container" style="z-index: -1;opacity: 0; transition: all .3s;" >
            <div class="col-sm-12 col-xl-3">
                <div class="rounded h-100 p-4">
                    <h6 class="mb-4">Cambiar Contraseña</h6>
                    <form id="change-password-form">
                        <div class="mb-3">
                            <!-- <div class="form-text">We'll never share your email with anyone else.
                            </div> -->
                        </div>
                        <div class="mb-3">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="nueva_contraseña" placeholder="Nueva contraseña" value="">
                                <label for="floatingInput">Nueva contraseña:</label>
                            </div>
                            <!-- <div class="form-text">We'll never share your email with anyone else.
                            </div> -->
                        </div>
                        <div class="mb-3">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="confirmar_contraseña" placeholder="Confirmar contraseña" value="">
                                <label for="floatingInput">Confirmar contraseña:</label>
                            </div>
                            <!-- <div class="form-text">We'll never share your email with anyone else.
                            </div> -->
                        </div>
                      <!--   <button type="submit" class="btn btn-primary">Confirmar</button> -->
                        <div class="btnn d-flex justify-content-center">
                            <button type="submit" class="btn">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Sign In End -->

    </div>
    <%- include('partials/scripts/scripts') %>
    <script type="module" src="/js/1.login/login.js"></script>
  </body>
</html>
